<p>
  <table class='table table-hover'>
    <tr class='info'>
      <th>Flight number</th>
      <th>Departing from</th>
      <th>Arriving to</th>
      <th>Departure time</th>
    </tr>
    <tr class='active'>
      <th><%= @flight_id %></th>
      <th><%= @origin %></th>
      <th><%= @destination %></th>
      <th><%= @depart_time %></th>
    </tr>
  </table>
</p>
